@using Microsoft.AspNetCore.Identity
@model BlogPostIndexViewModel
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Welcome to Our Blog";
}

<h1 class="mb-4">Welcome to Our Blog</h1>


@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Create" class="btn btn-primary focus-ring">Create New Post</a>
    </p>
} else
{
    <p>
        <a asp-action="Login" asp-controller="Account" class="btn btn-primary">Login to Create New Post</a>
    </p>
}


<div class="d-flex flex-column gap-sm-2 gap-md-3 gap-lg-4">

    @{
        System.Diagnostics.Debug.Assert(Model.BlogPosts != null, "Model.BlogPosts != null");
    }
    @if (!Model.BlogPosts.Any())
    {
        <p>No posts found.</p>
    }

    @foreach (var post in Model.BlogPosts)
    {

        <partial name="_BlogPost" model="post"/>

    }
</div>

@await Component.InvokeAsync("Pagination", new
{
    currentPage = Model.CurrentPage,
    totalPages = Model.TotalPages,
    actionName = "Index"
})
