@model SimpleBlog.Models.BlogPost

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const dateElements = document.querySelectorAll('.formatted-date');

        dateElements.forEach(element => {
            const date = new Date(element.dataset.date);

            // Format the date
            element.textContent = new Intl.DateTimeFormat(navigator.language, {
                year: 'numeric',
                month: 'long',
                day: 'numeric',
                hour: '2-digit',
                minute: '2-digit'
            }).format(date);
        });
    });
</script>

<article class="card">
    <div class="card-body">
        <h2 class="card-title">@Model.Title</h2>
        <p class="card-text">@Model.Content</p>
        <div class="card-footer d-flex pb-0">
            <span class="text-muted me-auto fs-sm">By: @Model.Author</span>
            <span class="formatted-date" data-date="@Model.UpdatedDate.ToString("O")"></span>
        </div>
    </div>
</article>